<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <!-- Bootstrap Javascript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <!-- My stylesheet -->
        <link rel=stylesheet type=text/css href="{{ url_for('static',
        filename='main.css') }}">
        <!--Google fonts -MJ-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Merriweather:wght@300&family=Pacifico&family=Salsa&display=swap" rel="stylesheet">
        <title>Title</title>
    </head>
    <body>
        <!-- Navbar -->
        <nav class = "coloured-section" id="header">

            <div class="navbar px-5 navbar-custom navbar-expand-lg navbar-light" id = "navbar">
              <div class="container-fluid">
                <div class = "col-md-6 me-auto" id="navbar_left">
                  <ul class="navbar-nav">
                    <a class="navbar-brand" id=MJ_navbar href="{{ url_for('home') }}">Home</a>
                    {% if current_user.is_student == false %}
                    <a class="nav-link" id=MJ_navbar href="{{ url_for('team_allocation') }}">Team Allocation</a>
                    <a class="nav-link" id=MJ_navbar href="{{ url_for('team_lists') }}">Team Lists</a>
                    <a class="nav-link" id=MJ_navbar href="{{ url_for('view_issues') }}">View Reported Issues</a>
                    <a class="nav-link" id=MJ_navbar href="{{ url_for('calculate_mark') }}">Calculate Mark</a>
                    <a class="nav-link" id=MJ_navbar href="{{ url_for('team_reset') }}">Team Reset</a>
                    {% elif current_user.is_student == true %}
                    <a class="navbar-brand" id=MJ_navbar href="{{ url_for('issues') }}">Report Issues</a>
                    <a class="navbar-brand" id=MJ_navbar href="{{ url_for('questionnaire') }}">Allocation Questionnaire</a>
                    <a class="navbar-brand" id=MJ_navbar href="{{ url_for('contribution') }}">Peer/Self-Assessment Contribution</a>
                    {% endif %}
                  </ul>
                </div>
          
                <div id="navbar_right">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                      {% if current_user.is_authenticated %}
                      <span class="navbar-text MJ_Override" id=MJ_navbar>
                          Hello, {{ current_user.first_name }}!
                      </span>
                      <li class="nav-item">
                          <a class="nav-link active" id=MJ_navbar aria-current="page" href="{{ url_for('logout') }}">Logout</a>
                      </li>
                      {% else %}
                      <span class="navbar-text MJ_Override" id=MJ_navbar>
                        Hello, Guest!
                      </span>
                      <li class="nav-item">
                        <a class="nav-link" id=MJ_navbar href="{{url_for('login')}}">Login</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id=MJ_navbar href="{{url_for('register')}}">Register</a>
                      </li>
                      {% endif %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
        </nav>
            <!-- Navbar ends-->
        
            <!-- Flash messages-->
        <div class = "text-center h3 bg-light py-2" id="flashes">
                {% with messages = get_flashed_messages() %}  
                  {% if messages %}
                    <ulclass=flashes>
                      {% for message in messages %}
                        <li>{{ message }}</li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                {% endwith %}
              </div> 

    <!-- Header  -->
    <div class="row p-5 text-center" id="sub_header">
        {% block sub_header %}
        {% endblock %}
    </div>

     <!-- Main content  -->
    <div class = "container-md my-5" id="content">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Return to the top of page  -->
    <div class = "text-center py-3">
        <a  id=MJ_navbar href=" #top">
            Top ↑
        </a>
    </div>
        <div id=footer>
          <hr id=footerHR>
          <p class=footerText>This app was made by group N for CMT313 Software development</p>
          <p class=footeeText>Click below to see our individual GitLab pages</p>
          <!--Bill-->
          <a href=https://git.cardiff.ac.uk/c2108464><img class="footerPictures" src='https://avataaars.io/?avatarStyle=Circle&topType=ShortHairShortRound&accessoriesType=Prescription02&hairColor=Black&facialHairType=Blank&clotheType=ShirtCrewNeck&clotheColor=Black&eyeType=Happy&eyebrowType=Default&mouthType=Default&skinColor=Light'
          /></a>
          <!--Jacob-->
          <a href=https://git.cardiff.ac.uk/c1112147><img class="footerPictures" src='https://avataaars.io/?avatarStyle=Circle&topType=ShortHairShortFlat&accessoriesType=Blank&hairColor=Brown&facialHairType=Blank&clotheType=ShirtCrewNeck&clotheColor=PastelGreen&eyeType=Wink&eyebrowType=UpDown&mouthType=Smile&skinColor=Pale'
          /></a>
          <!--Jiawen-->
          <a href=https://git.cardiff.ac.uk/c1996801><img class="footerPictures" src='https://avataaars.io/?avatarStyle=Circle&topType=LongHairStraightStrand&accessoriesType=Round&hairColor=Black&facialHairType=Blank&clotheType=ShirtVNeck&clotheColor=Gray02&eyeType=Side&eyebrowType=UpDown&mouthType=Default&skinColor=Light'
          /></a>
          <!--Nicola-->
          <a href=https://git.cardiff.ac.uk/c21016073><img class="footerPictures" src='https://avataaars.io/?avatarStyle=Circle&topType=LongHairBigHair&accessoriesType=Blank&hairColor=BrownDark&facialHairType=Blank&clotheType=CollarSweater&clotheColor=PastelBlue&eyeType=Surprised&eyebrowType=Default&mouthType=Concerned&skinColor=Light'
          /></a>
          <!--Meg-->
          <a href=https://git.cardiff.ac.uk/c21017593><img class="footerPictures" src='https://avataaars.io/?avatarStyle=Circle&topType=LongHairStraight2&accessoriesType=Blank&hairColor=BlondeGolden&facialHairType=Blank&clotheType=Overall&clotheColor=PastelRed&eyeType=Squint&eyebrowType=Default&mouthType=Tongue&skinColor=Pale'
          /></a>
          <!--Weifu-->
          <a href=https://git.cardiff.ac.uk/c2084681><img class="footerPictures" src='https://avataaars.io/?avatarStyle=Circle&topType=LongHairStraight&accessoriesType=Blank&hairColor=Black&facialHairType=Blank&clotheType=Hoodie&clotheColor=PastelBlue&eyeType=Default&eyebrowType=RaisedExcited&mouthType=Serious&skinColor=Light'
          /></a>
        </div>
    </body>
</html>

