{% extends "layout.html" %}

{% block sub_header %}
    <h2>Report Issues</h2>
{% endblock sub_header %}

{% block content %}
<div class="formpage">
  <div class="space"></div>
  <form action="" method="post" id = "issue-form">
      {{form.csrf_token}}
    
      <!-- Dropdown selecting issue -->
    <div class="issue">
      {{ form.issue_type.label }}
      {% for error in form.issue_type.errors %} 
      <span>[{{ error }}]</span> 
      {% endfor %}  
      {{ form.issue_type }} 
    </div>

    <!-- Attempts to solve -->
    <div class="issue">
      {{ form.attempts_resolve.label }}
      {% for error in form.attempts_resolve.errors %} 
      <span>[{{ error }}]</span> 
      {% endfor %}  
      <p></p>
      <p> Yes I have attempted to solve this issue myself, and I am willing to provide details if requested. {{ form.attempts_resolve }} </p>
    </div>

    <!-- Instruction about team members -->
    <div class="issue">
      {{ form.members_involved.label }}
      {% for error in form.members_involved.errors %} 
      <span>[{{ error }}]</span> 
      {% endfor %}  
    </div>
      <div class="issue">
        {{ form.members_involved }} 
      </div>
    

    <!-- Instructions for complaint -->
    <div class="issue">
      {{ form.issue_description.label }}
      {% for error in form.issue_description.errors %} 
      <span>[{{ error }}]</span> 
      {% endfor %}  
    </div>
    <!-- Box to enter complaint -->
    <div class="issue">
      <p></p>
      {{ form.issue_description (class_="input-lg")}} 
    </div>

    <p>{{form.submit(class_="JL_btn")}}</p>

    
  </form>
  </div>
{% endblock content %}