body {
    color: #206a5d;
}
#BH_title{
    color: white;
    background-color: #206a5d;
    border-style: solid;
    border-color: #00af91;
    border-width: 2px;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px 20px 10px 20px;
    box-shadow: 5px 5px 5px grey;
    font-family: 'Bree Serif', serif;
    text-align: center;
}
.BH_group{
    color: #206a5d;
    text-shadow: 5px 5px 5px grey;
    font-family: 'Bree Serif', serif;
    text-align: center;
}
.BH_content{
    display: grid;
    justify-items: center;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: #206a5d;
    border-style: solid;
    border-color: #00af91;
    border-width: 2px;
    margin-bottom: 10px;
    font-family: 'Bree Serif', serif;
}

/*MEG CSS*********/
/*
Meg CSS is ordered by html page, then alphabetically by id/class name for easy finding
***main colours used***
text/backgrounds: #007965
secondary lighter green: #00af91
White: #ffffff
occasional hover: #81d1c4
***Fonts used:***
main: font-family: 'Bree Serif', serif;
secondary: font-family: 'Pacifico', cursive;
*/
/*layout.html*/
.footerPictures{
    width: 40px;
}
#footer{
    font-size: 10px;
    text-align: center;
}
.footerText{
    margin-bottom: 0;
}
#footerHR{
    width: 25%;
    border: 2px dotted #007965;
    border-style: none none dotted;
    background-color: transparent;   
    opacity: 100%;     
    border-width: 5px;
    height: 2px;
    margin: auto;
}
#MJ_navbar{
    font-family: 'Bree Serif', serif;
    color:#007965;
    text-decoration: none;
}
#MJ_navbar:hover{
    color: #00af91;
}
.MJ_Override{
    margin-right: 30px;
}
/*home.html*/
.Avatars{
    width: 150px;
}
.AvatarPos{
    text-align: center;
}
#MJ_Credit{
    display: grid;
    justify-items: center;
    font-family: 'Bree Serif', serif;
    font-size: 15px;
}
#MJ_HomeTitle{
    display: grid;
    justify-items: center;
    font-family: 'Bree Serif', serif;
}
#MJ_WelcomeTitle{
    display: grid;
    justify-items: center;
    font-family: 'Pacifico', cursive;
    font-size: 100px;
}
/*register.html*/
.label{
    padding-left: 20px;
}
#MJ_registerButton{
    box-shadow: 3px 4px 0px 0px #ababab;
	background-color:#ffffff;
	border-radius:15px;
	border:1px solid #878787;
	display:inline-block;
	cursor:pointer;
	color:#007965;
	font-family: 'Bree Serif', serif;
	text-decoration:none;
	text-shadow:0px 1px 0px #a8a8a8;
    margin-left: 110px;
    padding-top: 0;
}
#MJ_registerButton:hover {
    background-color:#81d1c4;
}
#MJ_registerButton:active {
    position:relative;
    top:1px;
}
#MJ_registerForm{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    color: white;
    background-color: #206a5d;
    border-style: solid;
    border-color: #00af91;
    border-width: 2px;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    box-shadow: 5px 5px 5px grey;
    width: 500px;
    margin: auto;
    font-family: 'Bree Serif', serif;
}
#MJ_registerSubtitle{
    display: grid;
    justify-items: center;
    color: #206a5d;
    font-family: 'Bree Serif', serif;
    font-size: 30px;
    padding-bottom: 40px;
    text-shadow: 2px 2px 4px grey;
}
.MJ_registerTable{
    margin-top: 10px;
    padding-top: 10px;
}
#MJ_registerTitle{
    display: grid;
    justify-items: center;
    color: #206a5d;
    font-family: 'Bree Serif', serif;
    font-size: 60px;
    text-shadow: 2px 2px 4px grey;
    margin-bottom: 0;
}
/*login.html*/
.MJ_loginButton{
    box-shadow: 3px 4px 0px 0px #ababab;
	background-color:#ffffff;
	border-radius:15px;
	border:1px solid #878787;
	display:inline-block;
	cursor:pointer;
	color:#007965;
	font-family: 'Bree Serif', serif;
	text-decoration:none;
	text-shadow:0px 1px 0px #a8a8a8;
    margin-left: 120px;
    padding-top: 0;
    padding-right: 10px;
    margin-top: 10px;
    font-family: 'Bree Serif', serif;
}
.MJ_loginButton:hover {
    background-color:#81d1c4;
}
.MJ_loginButton:active {
    position:relative;
    top:1px;
}
#MJ_loginForm{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    color: white;
    background-color: #206a5d;
    border-style: solid;
    border-color: #00af91;
    border-width: 2px;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    box-shadow: 5px 5px 5px grey;
    width: 500px;
    margin: auto;
}
.MJ_loginTable{
    padding-right: 10px;
    margin-top: 10px;
    padding-top: 10px;
    font-family: 'Bree Serif', serif;
}
#MJ_loginTitle{
    display: grid;
    justify-items: center;
    color: #206a5d;
    font-family: 'Bree Serif', serif;
    font-size: 50px;
    padding-bottom: 40px;
    text-shadow: 2px 2px 4px grey;
}
#MJ_loginWelcome{
    display: grid;
    justify-items: center;
    font-family: 'Pacifico', cursive;
    font-size: 60px;
}
#MJ_registerLink{
    text-decoration: none;
    font-size:10px;
    color: white;
}
#MJ_registerLink:hover{
    color: #81d1c4;
}
#submit{
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 12px;
}
/*team_allocation.html*/
#JI_assessment{
    padding: 10px 0 15px 0;
    font-family: 'Bree Serif', serif;
    text-align: center;
}
.JI_box{
    padding-left: 25px;
}
.JI_Button {
	box-shadow: 3px 4px 0px -2px #ababab;
	background-color:#ffffff;
	border-radius:15px;
	border:1px solid #878787;
	display:inline-block;
	cursor:pointer;
	color:#007965;
	font-family:Arial;
	font-size:17px;
	padding:0px 7px;
	text-decoration:none;
	text-shadow:0px 1px 0px #a8a8a8;
}
.JI_Button:active {
	position:relative;
	top:1px;
}
.JI_Button:hover {
	background-color:#81d1c4;
}
.JI_HR{
    border-top: 2px solid white;
    width: 60%;
    opacity: .50;
}
.JI_information{
    margin-bottom: 0px;
    font-family: 'Bree Serif', serif;
    row-gap: 0em;
    text-align: center;
}
.JI_error{
    text-align: center;
    color:cyan;
    font-weight: 200;
    font-family: 'Bree Serif', serif;
}
#JI_Margin{
    margin-bottom: 5px;
    margin-top: 0;
    font-family: 'Bree Serif', serif;
}
#JI_submit{
    margin-top: 20px;
}
#JI_Title{
    display: grid;
    justify-items: center;
    color: #206a5d;
    font-family: 'Bree Serif', serif;
    font-size: 50px;
    padding-bottom: 40px;
    text-shadow: 2px 2px 4px grey;
}
#team_allocation{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    color: white;
    background-color: #206a5d;
    border-style: solid;
    border-color: #00af91;
    border-width: 2px;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    box-shadow: 5px 5px 5px grey;
    width: 500px;
    margin: auto;
}
#team_size{
    list-style: none;
    padding-left: 80px;
}
/*team_lists.html*/
#MJ_composition{
    text-align: center;
}
#MJ_exportPos1{
    display: grid;
    justify-items: center;
    margin-left: 35%;
    margin-top: 20px; 
}
.MJ_HR{
    border-top: 2px solid #206a5d;
    width: 60%;
    opacity: .50;
    margin: auto;
    margin-bottom: 10px;
}
.MJ_links{
    text-decoration: none;
    color: white;
    background-color: #206a5d;
    border-style: solid;
    border-color: #00af91;
    border-width: 2px;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px 20px 10px 20px;
    box-shadow: 5px 5px 5px grey;
    font-family: 'Bree Serif', serif;
}
.MJ_links:hover{
    color: #00af91;
}
#MJ_noTeams{
    text-align: center;
}
#MJ_noTeams1{
    font-family: 'Pacifico', cursive;
    font-size: 65px;
}
#MJ_noTeams2{
    font-family: 'Bree Serif', serif;
    font-size: 20px;
}
#MJ_table{
    display: grid;
    justify-items: center;
}
#MJ_table_data{
    padding: 20px 20px 20px 20px;
}
#MJ_title{
    display: grid;
    justify-items: center;
    color: #206a5d;
    font-family: 'Bree Serif', serif;
    font-size: 50px;
    padding-bottom: 40px;
    text-shadow: 2px 2px 4px grey;
}
span{
    margin-right: 300px;
}
/*team.html*/
#MJ_exportPos2{
    display: grid;
    justify-items: end;
    margin-right: 70px;
    margin-top: 20px; 
}
.MJ_label{
    font-family: 'Bree Serif', serif;
    padding-right: 10px;
}
#MJ_sort{
    text-align: center;
    padding: 0 20px 0 20px;
}
#MJ_sort_by{
    text-align: center;
    font-family: 'Bree Serif', serif;
}
.MJ_teamTable{
    display: grid;
    justify-items: center;
    padding: 10px;
}
.MJ_teamTitle{
    color: white;
    background-color: #206a5d;
    border-style: solid;
    border-color: #00af91;
    border-width: 2px;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px 20px 10px 20px;
    box-shadow: 5px 5px 5px grey;
    font-family: 'Bree Serif', serif;
    text-align: center;
}
.MJ_td{
    padding: 10px 20px 0 20px;
    text-align: center;
}
.MJ_th{
    padding: 10px 20px 10px 20px;
    text-align: center;
}
.MJ_thr{
    text-decoration: none;
    color: white;
    background-color: #206a5d;
    border-style: solid;
    border-color: #00af91;
    border-width: 2px;
    margin-bottom: 10px;
    font-family: 'Bree Serif', serif;
}
.MJ_tr{
    border-bottom: solid;
    border-bottom-width: 2px;
}
/*shared team_list + team*/
.MJ_export{
    text-decoration: none;
    color: white;
    background-color: #206a5d;
    border-style: solid;
    border-color: #00af91;
    font-family: 'Bree Serif', serif;
    width: 70px;
    padding: 3px 11px 5px 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}
.MJ_export:hover{
    color: #00af91;
}
/*END of Meg CSS*/





/*   Peer/Self-Assessment Contribution   */
#JL_Contribution{
    grid-template-columns: 1fr;
    justify-items: center;
    width: 500px;
    margin: auto;
}
.JL_member{
    font-family: 'Bree Serif', serif;
}
#JL_answer{
    margin-top: 15px;
    margin-bottom: 45px;
    box-shadow: 3px 4px 0px -2px #ababab;
	background-color:#206a5d;
	border-radius:15px;
	border:1px solid #878787;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Bree Serif', serif;
	padding:20px 20px;
}

#question{
    list-style-type:none;
    margin-top: 15px;
    margin-bottom: 45px;
}

.JL_btn{
    color: white;
    background-color:#206a5d;
    box-shadow: 3px 4px 0px -2px #ababab;
	border-radius:15px;
	border:1px solid #878787;
	display:block;
    margin:0 auto;
	cursor:pointer;
	font-family:Arial;
	font-size:24px;
	padding:0px 7px;
	text-decoration:none;
	text-shadow:0px 1px 0px #a8a8a8;
    
}


hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
  }

/*   End  of  Peer/Self-Assessment Contribution   */

/*   Report Issues   */
/* #issue-form{
    grid-template-columns: 1fr;
    justify-items: center;
    width: 500px;
    margin: auto;
    font-family: 'Bree Serif', serif;
} */

/* #issue-form{
    margin-top: 15px;
    margin-bottom: 45px;
    box-shadow: 3px 4px 0px -2px #ababab;
	background-color:#206a5d;
	border-radius:15px;
	border:1px solid #878787;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Bree Serif', serif;
	padding:20px 20px;
} */

#issue_description.issue_description{
    font-family: 'Bree Serif', serif;
    width: 100%;
}

