{% extends "layout.html" %}
{% block content %}
<h1 id=MJ_WelcomeTitle>Welcome</h1>
<h1 id=MJ_HomeTitle>Team Allocation Peer Review Tool</h1>
<p id=MJ_Credit>Created by Team N</p>
<div class=AvatarPos>
<!--Jiawen avatar-->
<img class=Avatars src='https://avataaars.io/?avatarStyle=Transparent&topType=LongHairStraightStrand&accessoriesType=Round&hairColor=Black&facialHairType=Blank&clotheType=ShirtVNeck&clotheColor=Gray02&eyeType=Happy&eyebrowType=Default&mouthType=Smile&skinColor=Light'
/>
<!--Jake avatar-->
<img class=Avatars src='https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortFlat&accessoriesType=Blank&hairColor=Brown&facialHairType=Blank&clotheType=ShirtCrewNeck&clotheColor=PastelGreen&eyeType=Default&eyebrowType=Default&mouthType=Serious&skinColor=Pale'
/>
<!--Nicola avatar-->
<img class=Avatars src='https://avataaars.io/?avatarStyle=Transparent&topType=LongHairBigHair&accessoriesType=Blank&hairColor=BrownDark&facialHairType=Blank&clotheType=CollarSweater&clotheColor=PastelBlue&eyeType=Close&eyebrowType=Default&mouthType=Twinkle&skinColor=Light'
/>
<!--Meg avatar-->
<img class=Avatars src='https://avataaars.io/?avatarStyle=Transparent&topType=LongHairStraight2&accessoriesType=Blank&hairColor=BlondeGolden&facialHairType=Blank&clotheType=Overall&clotheColor=PastelRed&eyeType=Happy&eyebrowType=UpDown&mouthType=Default&skinColor=Pale'
/>
<!--Bill avatar-->
<img class=Avatars src='https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortRound&accessoriesType=Prescription02&hairColor=Black&facialHairType=Blank&clotheType=ShirtCrewNeck&clotheColor=Black&eyeType=Squint&eyebrowType=FlatNatural&mouthType=ScreamOpen&skinColor=Light'
/>
<!--Weifu avatar-->
<img class=Avatars src='https://avataaars.io/?avatarStyle=Transparent&topType=LongHairStraight&accessoriesType=Blank&hairColor=Black&facialHairType=Blank&clotheType=Hoodie&clotheColor=Blue01&eyeType=Side&eyebrowType=RaisedExcited&mouthType=Twinkle&skinColor=Light'
/>
</div>
{% endblock content %}