{% extends "layout.html" %}
{% block content %}

<!--No teams assigned-->
{% if assessment.student_team_list | length == 0 %}
    <div id=MJ_noTeams>
        <h1 id=MJ_noTeams1>No teams assigned</h1>
        <p id=MJ_noTeams2>Please assign teams first</p>
    </div>    
    
<!--Teams assigned-->
{% else %}
    <h1 id=MJ_title>Team lists</h1>
<!--Composition section-->
    <hr class=MJ_HR>

    <div id=MJ_composition>
    <small><p>Teams of 
    {% if team_composition.team_size == 5 %}
        5-6 members</p></small>
    {% elif team_composition.team_size == 6 %}
        6-7 members
    </p></small>
    {% endif %}
    <small><p>
        Teams allocated by:
    {% if team_composition.native_speaker %}
        ● Native Speaker 
    {% endif %}
    
    {% if team_composition.coding_experience %}
        ● Coding Experience
    {% endif %}
    
    {% if team_composition.previous_degree %}
        ● Previous Degree
    </p></small>
    {% endif %}
    </div>
    
    <hr class=MJ_HR>
    
    <!--table section-->
    <table id=MJ_table>
        {% for team in assessment.student_team_list %}
            <tr>
                <td id=MJ_table_data>
                    <a class=MJ_links href="{{ url_for('team', team_id=team.id) }}"><span>Team {{ team.id }}</span>
                    {{team.team_members| length}} Members</a>
                </td>
            </tr>
        {% endfor %}
</table>

<!--Export link-->
<div id=MJ_exportPos1>
    <a class="MJ_export" href="{{ url_for('team_lists_download')}}"">Export</a>
</div>

{% endif %}

{% endblock content %}
